# file options

--symlinks ignore
--swiftversion 5.1

# rules
--enable isEmpty
--disable andOperator
--disable wrapMultilineStatementBraces
--disable redundantSelf
--disable typeSugar
--disable redundantParens

# format options

--closingparen balanced
--commas inline
--comments indent
--decimalgrouping 3,5
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--ifdef no-indent
--importgrouping testable-top
--operatorfunc no-space
--nospaceoperators ..<, ...
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
